/* Green bar at own posts */
.postblock-own .postmain .postrender .postinner > .postcontent {
border-right: 6px solid #4fa052;
}
/* Firefox wordwrap fix */
body .ql-editor {
  overflow-wrap: break-word;
  word-break: normal;
}
.postcontent {
  min-width: 100px;
}
/* Firefox video controls fix */
video{
	white-space: initial;
}
/* Fixed >quotes */
.ql-container.ql-snow .ql-editor blockquote {
    border: 2px solid #3598e6; background-color: #d5e5f2; line-height: 1.5em; padding: 5px;
}
.ql-container.ql-snow .ql-editor blockquote:before {content: ""; padding-right: 0;
}
